<div class="grid-x grid-margin-x">
  <h3>Выдача книги</h3>
</div>

<% form({ method: :post }, { obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <%= f.input(:author, type: :text, label: 'Автор', placeholder: 'Эрих Фромм') %>
    </div>
    <div class="large-12 cell">
      <%= f.input(:title, type: :text, label: 'Название книги', placeholder: 'Искусство любить') %>
    </div>
    <div class="large-12 cell">
      <%= f.input(:inverted_number, type: :text, label: 'Инвентаризационный номер', placeholder: '1234') %>
    </div>
    <div class="large-12 cell">
      <%= f.input(:genre, type: :select, label: 'Жанр', options: BookGenreType.all_types, add_blank: true)%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:age_rating, type: :radioset, label: 'Возрастной рейтинг', options: ['0+', '6+', '12+', '16+', '18+']) %>
    </div>
    <div class="large-12 cell">
      <%= f.input(:number_in_library, type: :text, label: 'Количество книг в библиотеке', placeholder: '10') %>
    </div>
    <div class="large-12 cell">
      <%= f.button(value: form_type, class: 'button') %>
      <a href="<%= library_new_path %>" class="button secondary">Отмена</a>
    </div>
  </div>
<% end %>