<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Главное меню</h3>

    <div class="cell large-12">
      <a href="<%= choice_path('books') %>" class="button">
        Список книг
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= choice_path('readers') %>" class="button">
        Список читателей
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= library_new_path %>" class="button">
        Добавить книгу / читателя
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= library_new_path %>" class="button">
        Удалить читателя
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= library_new_path %>" class="button">
        Удалить книгу
      </a>
    </div>

  </div>
</div>