<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Главное меню</h3>

    <div class="cell large-12">
      <a href="<%= choice_path('books') %>" class="button">
        Список книг
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= choice_path('readers') %>" class="button">
        Список читателей
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= library_new_path %>" class="button">
        Добавить книгу / читателя
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= delete_path('reader') %>" class="button">
        Удалить читателя
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= delete_path('book') %>" class="button">
        Удалить книгу
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= select_book_path %>" class="button">
        Подобрать книги
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= library_give_path %>" class="button">
        Выдать книгу
      </a>
    </div>
    <div class="cell large-12">
      <a href="<%= return_book_path %>" class="button">
        Вернуть книгу
      </a>
    </div>
    
  </div>
</div>