<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Возврат книги</h3>
  </div>
</div>

<% if @book_return.nil? %>
  <div class="grid-x grid-margin-x">
    <div class="cell large-12">
      <a href="<%= path(@reader) %>" class="button secondary">Вернуться к читателю</a>
      <% if @penalty > 0 %>
        <div class="callout warning">
          <p><%= @result_penalty%></p>
        </div>
      <% else %>
        <div class="callout">
          <p>У вас нет задолженности по сдаче книги.</p>
        </div>
      <% end %>
    </div>
  </div>
  
<% elsif %>
  <% form({ method: :post }, { obj: @parameters }) do |f| %>
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <p>Книга: <%= @book_return.book.author %> "<%= @book_return.book.title %>"</p>
        <p>Срок сдачи: <%= @book_return.date %></p>
        <%= f.button(value: 'Сдать книгу', class: 'button') %>
        <a href="<%= path(@reader) %>" class="button secondary">Отмена</a>
      </div>
    </div>
  <% end %>
<% end %>