<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Подбор книг</h3>
  </div>
</div>

<% form({ method: :post }, { obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-6 cell">
      <%= f.input(:author, type: :text, label: 'Автор', placeholder: 'Эрих Фромм') %>
    </div>
    <div class="large-6 cell">
      <%= f.input(:genre, type: :select, label: 'Жанр', options: BookGenreType.all_types, add_blank: true)%>
    </div>
    <div class="large-12 cell">
      <%= f.button(value: 'Подобрать', class: 'button ') %>
      <a href="<%= path(@reader) %>" class="button secondary">Отмена</a>
    </div>
  </div>
<% end %>

<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h5>Список книг</h5>
  </div>

  <div class="large-12 cell">
    <% if @filtered_books.empty? %>
      <div class="callout warning">
        Согласно вашему фильтру никаких тестов не было найдено
      </div>
    <% elsif @count == 0 %>
      <div class="callout warning">
        Книг подходящих под возраст не было найдено
      </div>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Автор</th>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <% @filtered_books.each do |book| %>
            <tr>
              <td><%= book.author %></td>
              <td><%= book.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>